/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/*
::-moz-selection {
    background: #CE3130;
    text-shadow: none;
    color: #fff !important;
}

::selection {
    background: #CE3130;
    text-shadow: none;
    color: #fff !important;
}
*/

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   IIV styles
   ========================================================================== */

body{overflow-y:scroll; font-family: 'PT Sans', sans-serif;}

.makeCenter{text-align:center !important; margin:0 auto; width:auto; display:block;}

*{margin:0; padding:0;}
 
.notification{
	display:none;
	background: none repeat scroll 0 0 #fff;  
    box-sizing: border-box;
    border-bottom:6px solid #eee;
    color: #FFFFFF;
    font-size: 16px;
    height: 150px;
    left: 0;
    margin-top: 0 !important;
    padding: 5px 10px 0 25px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483645;
    text-align:center;
}

.notification h1, .notification h2{color:#C72A00 !important; margin:0 0 5px 0 !important; padding:0; font-size:18px; font-weight:600; }
.notification p{color:#444 !important; margin:0; padding:0; font-size:12px; line-height:17px;}


.yellow_btn, a.yellow_btn{-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    border-radius: 4px;
    font-size: 15px;
    padding: 6px 10px;
    text-align: center;
   
    font-family: Helvetica, Arial, sans-serif;
    
    background-color: #FFA300;
    background-image: -moz-linear-gradient(center top , #FFCC00, #FFBB00);
    color: #3D4243;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
 
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
     
    font-size: 13px;
    font-weight: 700;
    text-decoration: none; text-decoration:none; color:#333;
    
    display:block;
    width:120px;
    margin:10px auto 0 auto;
   }


.yellow_btn:hover, a.yellow_btn:hover{background-color: #333; background-image: -moz-linear-gradient(center top , #222, #555); color:#fff;}

   
.orange_btn, a.orange_btn{
	background-image: linear-gradient(to bottom, #fbc456 0%, #e0a63a 85%);
    background-repeat: repeat-x;
    border-radius: 5px;
    color: #774f23;    
    padding: 5px 9px 5px 8px;
    transition: background 0.2s ease 0s;    
     -moz-user-select: none;
    background-color: #fbc456;
    border: 0 solid transparent;
    border-radius: 4px;     
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-bottom: 0;
    padding: 8px 14px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
     
}

.orange_btn:hover, a.orange_btn:hover{
	background-color: #fbc456; background-image: -moz-linear-gradient(center top , #d18e10, #e0a63a); color:#fff;
}


.makeRed{ color:#c12a2c; }
.makeGreen{color: #06a706; }

.alink{text-decoration:underline; }
.alink:hover{text-decoration:none;}


/* Help */
.help_section p{font-size:1em; line-height:1.6em;}
ol.steps{margin: 0 0 15px; padding: 0;}
ol.steps li{list-style: decimal outside none; margin: 0 0 10px 30px;}
.vid_in_help{margin-bottom:20px;}
 

/* Search */

#searchform {position:absolute; top:40px; right:50px;}

#searchform input[type="text"] {
    background: url('../img/search-white.png') no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
 }
    


#searchform input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

/*html{background: #22262E /*url('../img/bg_pattern.png'); */ /*}*/

body {
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

#page-container{}

#pagebody {
	position:relative;
	/*position: absolute;
	top: 40px;
	left: 45px;*/
	color: #000;
	 
	/*font-size: 2em;*/
	z-index:500;
 	/* min-width:270px;
	max-width:1140px;
	width:92%;
	margin:60px auto; */
	width:95%;
	margin: 20px 30px;
}

/* PANEL */
.page-panel{	
	margin:0 auto;
	/* background: #ffffff url('../../assets/img/bg_mail.png') repeat-x; background-position:top center; */
    color: #777777;
    margin: 5px 2px 40px 20px;   
    overflow: hidden;
    padding: 15px;
    text-align: left;	
	/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33); */
	min-width:270px;
	max-width:80%; /* 1020px */
	min-height: 400px;
	z-index:8000 !important;	
	position:relative;
	margin:0 0 0 180px;
	/* border: 1px solid #acd0e5; */
	/* background: #FFFFFF; */
}
 

.make_inline_block{display:inline-block;}
.make_block{display:block;}
.makePass{color:#18a974;}
.makeFail{color:#ff4343;}

.inv_id_align{text-align:right !important; padding:3px;}
.the_last_id{display:block; text-align:right; font-size:0.8em; color:#aaa; font-style:italic; padding-top:2px; }

.two_sides{overflow: hidden; width:100%;}
.left_side{float:left; width:290px; margin-right:30px; }
.right_side{float:left; width:290px; margin-right:0; }
.submit_clear{clear:both; margin-top:10px;}

/* Overlays */
.page_popup{box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display:none;
    margin:1em; z-index:10000;
	background: #f5f5f5 url('../../assets/img/bg_mail.png') repeat-x; background-position:top center;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    padding: 19px;
}

.option_section{border-bottom: 1px dotted #ccc;
	margin: 0;
    padding: 9px 1% 0;
}

.option_section label{display:inline !important;}

.hide_section{display:none;}

#markaspaid_popup_background {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
#markaspaid_popup,
#markaspaid_popup_wrapper {
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
#markaspaid_popup {
	max-width:450px;
    -webkit-transform: translateX(0) translateY(-40%);
       -moz-transform: translateX(0) translateY(-40%);
        -ms-transform: translateX(0) translateY(-40%);
            transform: translateX(0) translateY(-40%);
}
.popup_visible #markaspaid_popup {
    -webkit-transform: translateX(0) translateY(0);
       -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
}


#markaspaid_popup{ }

.thelogo{clear:both;}

.for_report{display:block !important; min-width:270px;
	max-width:940px;
}
	
#invoice_expense_yearly, #profit_and_loss, #compare_activities{margin:0 0 70px 0;}

/* */
.dash_icon{font-size:40px; font-weight:normal; }

.onexpired{background: #FBE5EC !important;}
.free_to_premium_message{
	padding: 5px 6px 5px 30px;
    font-size:0.9em;
    line-height:1.5em;
    font-weight:300;
    font-family: Helvetica, Arial, sans-serif;    
    text-align:center;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:3px;
	border-color: #bff6e1;
	color: #444;
	background: #f8f8f8;
	border:#f4f4f4;
	padding:3px 20px 3px 20px;
	display:block;
	margin:15px auto 0 auto;
	max-width:97%;
}

.free_to_premium_message a{color: #18a98a;}
.free_to_premium_message span{display:block;}
.ref_code{font-weight:bold; font-size:16px; color:#333; letter-spacing:1px; }



/* Autocomplete */
.autocomplete-suggestions { border: 1px solid #ebebeb; background: #FFF; overflow: auto; cursor : pointer; 
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #000;
    margin-top: -1px;     
    width: 100%;
    z-index: 9999;   
}
.autocomplete-suggestion { padding: 5px; white-space: nowrap; overflow: hidden; 
 border-bottom:1px solid #efefef; font-size:0.9em;
}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

label.inline_label{display:inline !important;}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
  color: transparent;
}

p{ color: #555; font-size:0.9em; line-height: 1.5em;
    margin: 10px 0; padding:0;}
    
p.bread{font-size:14px; font-family: 'PT Sans', sans-serif; color:#565656; font-weight:300; }
p.bread span{font-weight: 700;}
h1, h2, h3,h4, h5{font-family: 'PT Sans', sans-serif; color:#333333; font-weight: normal;}

h1{font-size:1.3em !important; line-height:30px; padding:0; margin:8px 0 10px 0;  color: #333333; }
h1.makeCenter{margin-top:15px;}

h1 span{padding:0 8px 0 0;}
h1 a{text-decoration:none;}
h2{font-size:1.2em;}
h3{font-size:1.1em; line-height:22px;}
h3.dash{margin:10px 0;}
h4{font-size:15px; line-height:19px;}
h5{font-size:13px; line-height:17px;}

h2#customer-title_show{font-family: Helvetica, Arial, sans-serif !important;}
.mand{color:#ce3130; font-weight:bold;}

.stat_gray{color:#777; font-style:italic; font-family:Helvetica, Arial, sans-serif; }
.stat_red{color:#c10234; font-style:italic; font-family:Helvetica, Arial, sans-serif;}
.stat_orange{color:#ee8c00; font-style:italic; font-family:Helvetica, Arial, sans-serif;}
.stat_green{color:#006600; font-style:italic; font-family:Helvetica, Arial, sans-serif;}

.tabl_label{background:#eee;}

.inline{display:inline; padding:5px;}

.pushdown{bottom:30px !important; position:fixed !important; padding-left:5px !important;}

/* Custom Menu */
#appmenu{position:fixed !important; top:36px; left:0; height:100%; display:none; z-index: 1000; width: 190px;
/* background: #2b2f35 url('../../assets/img/newbg.jpg') repeat;

-webkit-box-shadow: inset -5px 0px 5px -4px rgba(0,0,0,0.4);
-moz-box-shadow: inset -5px 0px 5px -4px rgba(0,0,0,0.4);
box-shadow: inset -5px 0px 5px -4px rgba(0,0,0,0.4); */
background: #E9E8E5 !important;

}
#appmenu,
#appmenu ul,
#appmenu li,
#appmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'PT Sans', sans-serif !important;
  font-size: 1em;
  position: relative;
  text-align: left;
}

#appmenu ul li{
	-webkit-box-shadow: inset -5px 0px 5px -4px rgba(0,0,0,0.05);
	-moz-box-shadow: inset -5px 0px 5px -4px rgba(0,0,0,0.05);
	box-shadow: inset -5px 0px 5px -4px rgba(0,0,0,0.05);
	border-bottom:1px solid #dbdbd9;
}
#appmenu a {
  line-height: 1.3;
  outline:none;
}
 
#appmenu > ul > li > a {
  padding-right: 40px;
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  /* background: #2b2f35 url('../../assets/img/active_menu.jpg') repeat;
  border-top: 1px solid #292c31; 
  border-bottom: 1px solid #252a2e;  */
  background: #E9E8E5 !important;
 /* color: #b3b9bf;   */
  color: #2C3137;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}
#appmenu > ul > li > a > span {   
  padding: 10px;
  display: block;
  font-size: 0.9em;
  font-weight: 300;
}

#appmenu > ul > li > a:hover {
  text-decoration: none; 
 /*  color: #fff !important;
  background: #25282d; */
  color: #025c78 !important;
  background: #00bd62;
}

#appmenu > ul > li.active {
  border-bottom: none;
}

#appmenu > ul > li.active > a {	
  color: #025c78;
  background: #E9E8E5;
  /* background: #20a0e9; */
}

#appmenu > ul > li.active > a span {
  /* background: #20a0e9; */
 background: #E9E8E5;
}

#appmenu > ul > li.selected_group{
    background: #20a0e9 !important;
}

#appmenu > ul > li.selected_group > a {	
  color: #fff;
  background: #20a0e9 !important;
}


#appmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  font-size:1.1em;
  background: none;
}

#appmenu i{padding-right:8px;}

#appmenu ul ul {
  display: none;  
}
#appmenu ul ul li {
  border-top: 1px solid #ece9e2;
  border-bottom: 1px solid #dbdbd9;
  border-top: 0;
  padding-left:14px;
}
#appmenu ul ul a {
  padding: 10px;
  display: block;
  color: #2C3137;
  font-size: 0.9em;
  font-family: 'PT Sans', sans-serif !important;
}

#appmenu ul ul li.selected {
	background:#fff !important;
}
#appmenu ul ul li.selected a:hover{
	color: #2C3137;
	cursor: pointer !important;
}

#appmenu ul ul a:hover {
  color: #025c78;
}
#appmenu ul ul li.odd {
  background: #e9e8e5;
}
#appmenu ul ul li.even {
  background: #e9e8e5;
}

#mobile{display:none;}

a.logout{ 
	transition: color 0.2s linear 0s; 
    font-family: 'PT Sans', sans-serif;   
    padding: 4px 7px !important;
    background-color: #2C3138;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff !important;
    text-align: center;
}

a.logout:hover{background:#595959; color:#fff !important;}

#toparea{  margin:0; 
   /* background: #1B1D24; */
    background: #FFFFFF; /* 343F47 39444c 2B2F35*/
/* box-shadow: 0 0 4px #333333; 
    border-bottom:2px solid #272a2f;     
    /* overflow: hidden; */
    position:fixed; top:0; left:0;
    z-index:19999;
    height:32px;
  width:100%;
 	padding:6px 0 8px 0;
	box-sizing:initial !important;
	box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}


#logo_area{background:#fff; padding:10px;}

#toparea p.welcomeMessage{font-family: 'PT Sans', sans-serif; color:#777; margin:4px 10px 0 0; padding:0; font-size:1.3em; font-weight:400; }

.appTopLeft{width:290px; float:left; z-index: 9999; padding-left:6px;} /* float left */
.appTopRight{width:152px; position:absolute; top:0; right:5px; text-align:right; z-index: 999999;} /* 152px */


.appTopLeft a{text-decoration:none;  outline:0;  text-align:left;}
.appTopRight a{text-decoration:none; color:#ced2d4; outline:0; padding:1px 5px 5px 5px;}

.company-name{font-family: 'PT Sans', sans-serif; font-size:1em; line-height:1.2em; letter-spacing:1px; word-spacing:2px; font-weight:400; padding:15px 0 10px 0 !important; margin-top:3px;  color:#fff !important; line-height: 32px; }
a.signoff{font-size:1.1em; font-family: 'PT Sans', sans-serif; font-weight:400;}

.btngroup{
    display: inline-block;
    font-size: 13px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

img.gen_logo_size{height:80px !important; width:auto;}


.blockUI

.blockUI, .blockMsg, .blockPage{z-index:199999 !important; position:fixed; top:0; }

/* Profile Drop Down */
.profile_dropdown
{
	color: #555;
	margin: 8px -22px 0 0;
	width: 166px; /* 166 */
	position: relative;
	height: 17px;
	text-align:left;
}
.profile_submenu
{
	background: #FFFFFF; /*343F47 #1b1d24 */
	position: absolute;
	top: -12px;
	left: -15px;
	z-index: 100;
	width: 160px;
	display: none;
	margin-left: 10px;
	padding: 40px 0 5px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
 
.profile_dropdown li a
{
	color: #0064CF; /* b3b9bf */
	display: block;	 
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
}

.profile_dropdown li a:hover
{
	background:#00BD62; /* #20a0e9 */
	color: #fff;
	text-decoration: none;
}
a.profile_account 
{
	font-size: 0.9em;
	line-height: 32px; /* 16px */
	color: #0063CE; /* aaa 9BA1A5 ffffff */
	position: absolute;
	z-index: 110;
	display: block;
	padding: 11px 0 0 20px;
	height: 28px;
	width: 121px;
	margin: -11px 0 0 -10px;
	text-decoration: none;
	/* background: url("../../assets/img/arrow.png") 116px 17px no-repeat; */
	cursor:pointer;
	text-align:right;
}

.profile_root i{padding-right:1px;}
.profile_root
{
	list-style:none;
	margin:0px;
	padding:0px;
	font-size: 0.9em;
	line-height: 1.3em;
	padding: 11px 0 0 0px;
	border-top:1px solid #00BD62; /* 20a0e9 */
}


 
/* New Invoice Drop Down */
.newinvoice_dropdown
{
	color: #555;	 
	position: relative;
 
}
.menu_newinvoice_submenu
{ 
	position: absolute;
	top: -10px;
	left: 180px;
	z-index: 1000;
	display: none;
	min-width: 200px; 
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

a.menu_newinvoice 
{
	 
	position: absolute;
	z-index: 110;
	display: block; 
	background: url("../../assets/img/arrow.png") 116px 17px no-repeat;
	cursor:pointer;
 
}

 

/* Page New Invoice Drop Down */
.page_newinvoice_dropdown
{
	color: #555;	 
	position: relative;
 
}

.page_newinvoice_dropdown button{margin-top:0 !important;}
.page_menu_newinvoice_submenu
{ 
	position: absolute;
	top: 1px;
	left: 120px;
	z-index: 90000 !important;
	display: none;
	min-width: 200px; 
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
 
 
a.page_menu_newinvoice 
{
 
	z-index: 110;
	
	cursor:pointer;
 
}

 


/* FORM ELEMENTS */
 
.form label{ display: block;
    /*font-weight: bold;*/
    margin: 10px 0 5px;
    color:#565656; font-weight: 300;
    max-width:250px;     
 }
 
.txt{
 
    font-family: 'PT Sans', sans-serif;
    background-clip: padding-box;
    background: none repeat scroll 0 0 #fff;
    font-weight: 300;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 8px;
    padding: 5px 5px 5px 15px;
    margin-top: 0;
    height: 42px;
    outline: medium none;
    position: relative;
    vertical-align: top;
    width: 270px;
    border-radius: 3px;
    outline: medium none;
    transition: all 0.5s ease-in-out 0s;
    box-sizing: border-box;
}
	
 

.sel{ 
 
    font-family: 'PT Sans', sans-serif;
    background-clip: padding-box;
    background: none repeat scroll 0 0 #fff;
    font-weight: 300;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 8px;
    padding: 10px 5px 5px 15px;
    margin-top: 0;
    height: 42px;
    outline: medium none;
    position: relative;
    vertical-align: middle;
    width: 270px;
    border-radius: 3px;
    outline: medium none;
    transition: all 0.5s ease-in-out 0s;
    box-sizing: border-box;
 
}
 
.txtarea{ 
	
	font-family: 'PT Sans', sans-serif;
    background-clip: padding-box;
    background: none repeat scroll 0 0 #fff;
    font-weight: 300;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 8px;
    padding: 10px 5px 5px 15px;
    margin-top: 0;
    height: 42px;
    outline: medium none;
    position: relative;
    vertical-align: top;
    width: 270px;
    border-radius: 3px;
    outline: medium none;
    transition: all 0.5s ease-in-out 0s;
    box-sizing: border-box;
  
}

 
.txt:focus, .sel:focus, .txtarea:focus {background:#FFFBDF;

	-moz-transition: all 0.2s ease-in; 
    -webkit-transition: all 0.2s ease-in; 
    -o-transition: all 0.2s ease-in; 
    transition: all 0.2s ease-in;  
    -moz-transition: opacity 1s ease 0s;  
    outline: none;
	background-color: #fffbdf;
    background-image: none;
    border: 2px solid #ffe33d; 
}

.btn:focus{text-shadow: 0 1px rgba(0, 0, 0, 0.08);}

.full_width{width:99% !important;}

.more_space{ width:99% !important;}
.more_space textarea, .more_space input[type=text]{width:83% !important;}
.more_space .sel{width:83% !important;}

.mandatory_message{font-style:italic; font-size:14px;}

.more_space textarea{padding:15px !important;}


label{color: #777777;
    display: block;
    font-weight: bold;
    margin: 7px 0 5px;
    color:#565656; font-weight: 300;
    max-width:400px;
    font-size: 0.9em;
}
label span{}



.status-bar{
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    font-family:  Helvetica,sans-serif;
    height: 18px;
    line-height:18px !important;
    text-align: center;
    font-size: 0.8em !important;
    width: 55px;
}

.status-bar2{
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    font-family:  Helvetica,sans-serif;
    height: 18px;
    line-height:18px !important;
    text-align: center;
    width: 100px;
}

.done-status {
    background-color: #808080;
    border-color: #808080;
    color: #fff;
}
 

input[type=file]{color:#96c347; font-weight:bold; font-size:0.9em; }

 
.bankinfo{padding:0; margin:10px 0 0 0; text-align:left;}
.bankinfo label{display: inline;
    font-weight: bold;}
.ttoleft div{float:right !important; width:70px !important; }


footer{  
	display:none; 
    bottom: 0; 
    left: 0;
    margin: 0;
    position: fixed;
    z-index: 1000;
    overflow:hidden;
}

footer p{padding:5px 10px; margin:0; overflow:hidden;}
footer a{text-decoration:none; color:#a6aeb1}
footer img{}
footer a.helpfooter{font-size:0.8em !important; float:right;}
footer span.appversion{font-size:0.9em !important;} /* 0.8 */

/*
footer .appLeft{width:230px; float:left; padding:10px 0 10px 10px;}
footer .appRight{width:50px; float:right;  padding:10px 5px 10px 0;}

.appLeft ul{overflow:hidden; margin:0; padding:0;}
.appLeft ul li{list-style:none; float:left;}
.appLeft ul li a{text-decoration:none; font-size:12px; padding:6px 8px !important;}

.appRight ul{overflow:hidden; margin:0; padding:0;}
.appRight ul li{list-style:none; float:left; margin:0 0 0 4px;}
.appRight p{text-decoration:none; font-size:10px; line-height:12px; margin:0; padding:0; }

*/

.ordinary_link {color: #484a51 !important; text-decoration:none;}
.ordinary_link2 {color: #484a51 !important; text-decoration:underline;}
.ordinary_link:hover{text-decoration:none;}
.ordinary_link2:hover{text-decoration:none;}

.fluid-section:before, .fluid-section:after {
    content: "";
    display: table;
    line-height: 0;
}
.fluid-section:after {
    clear: both;
}
.fluid-section:before, .fluid-section:after {
    content: "";
    display: table;
    line-height: 0;
}
.fluid-section {
    width: 100%; /* 190px */
   /*  border-top:2px solid #1c1f23;
    background:#272a2f; */
    background: #E9E8E5; 
    
}


/* One time setting */

.one_time_setting{ max-width:450px; margin-top:20px;}
.one_time_setting input.txt{
 
	font-family: 'PT Sans', sans-serif;
    background-clip: padding-box;
    background: none repeat scroll 0 0 #fff;
    font-weight: 300;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 8px;
    padding: 5px 5px 5px 15px;
    margin-top: 0;
    height: 42px;
    outline: medium none;
    position: relative;
    vertical-align: top;
    width: 270px;
    border-radius: 3px;
    outline: medium none;
    transition: all 0.5s ease-in-out 0s;
    box-sizing: border-box;
}
.one_time_setting select.sel{
	 font-family: 'PT Sans', sans-serif;
    background-clip: padding-box;
    background: none repeat scroll 0 0 #fff;
    font-weight: 300;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 8px;
    padding: 10px 5px 5px 15px;
    margin-top: 0;
    height: 46px;
    outline: medium none;
    position: relative;
    vertical-align: middle;
    width: 270px;
    border-radius: 3px;
    outline: medium none;
    transition: all 0.5s ease-in-out 0s;
    box-sizing: border-box;
}
.one_time_setting label{ }
.one_time_setting table{ border:none !important;}
.one_time_setting table td{border:none !important; padding:0 !important;}
.one_time_setting .gonext{margin:0; }

.onetime_part1{}
.onetime_part2{display:none;}


#progressbar {
     /* background-color: #eee; */
      border-radius: 14px; /* (height of inner div) / 2 + padding */
      padding: 10px 0 5px 10px;
      margin:10px 10px 10px 0;
    }
    
    .progress_percentage{font-size:0.8em; padding:0 0 0 10px; margin:0;}
    
    #progressbar .progress_bar {
       background-color: #41DA54;
       width: 1%; /* Adjust with JavaScript */
       height: 14px;
       line-height:15px;
       border-radius: 13px;
       margin:0 0 8px 8px;
    
	  background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	 
       
}



/* QUICK ANALYTICS */
.quick_analytics{background:#fff; margin-top:20px; box-sizing: 
	border-box;
    padding: 20px 30px 30px 30px;  border: 2px dashed #f2f2f2;
    border-radius: 3px; }
    
.quick_analytics:hover{background:#fff; border: 2px dashed #f6f6f6; }

.bg-green{background-color: #00A65A !important;}
.bg-lightred{background-color: #F56954 !important;}
.bg-blue{background-color: #00C0EF !important;}
 
a.dash_ordinary_link{color: #666; text-decoration:none;}

.quick_analytics h3{ text-align:center;  padding-bottom:15px !important;}

ul.overall_stats{ overflow:hidden; list-style:none; margin:0; padding:0; }

ul.overall_stats li.summary_stats{ padding:0; clear:both; overflow: hidden; width:100%; display:table;}

li.summary_counts{  border-bottom:1px solid #e2e2e2; padding:20px 0 10px 0; height:60px; }

li.notification_area{  border-bottom:1px solid #e2e2e2; padding: 0; height:70px; }

.logo_center{width:200px; margin:10px auto;}

#bug_description{height:130px !important;}

ul.overall_stats li.summary_stats div{
	float: left;
    padding: 10px;
    width: 23%; /* 29% */
    list-style:none; 
    min-height:130px;  
    background-clip: padding-box;
    background-color: #ddd;
  /*   background-image: linear-gradient(#fff, #f0f6f9 70%); /* #f0f0f0 */
  /*  border: 1px solid #acd0e5; /* #ccc */
    border-radius: 2px; /* 5px */
   /*  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);   */
    margin-right:2%; 
    display:table-cell;
    margin-bottom:3%;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 
}

li.summary_stats div.last{margin-right:0 !important;}

ul.overall_stats li.summary_stats div.last{margin-right:0 !important;}
ul.overall_stats li.summary_stats div:hover{background:#fff;}

ul.overall_stats .summary_counts div{
	float: left;
    padding: 0 0 10px;
    width: 24%;
    list-style:none;  
}

.notification_area{ 
    padding: 0 0 10px;
    width: 98%;
    list-style:none;  
    margin:0 0 15px;
}
.notification_area h4{
	font-size: 18px !important;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 30px;
    text-align: center;
    text-transform: none;
    margin:0;
}
   
.notification_area p{font-family: 'PT Sans', sans-serif !important; color:#333; font-size: 1em; line-height: 1.4em; text-align:center; margin:0; }

.overall_stats h3{color: #555 !important;
    font-size: 1.6em; /* 1.2 */
    font-weight: normal;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    margin:0;
    margin:10px 0 10px 0;
}


.overall_stats h4{color: #555 !important;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    margin:0;
}



.overall_stats li small {
    color: #666;
    display: block;
    font-size: 14px; /* 12 */
    font-weight: 700;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.notification_area small{
	color: #444;
    display: block;
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px;
    text-align: center;
    font-weight:normal !important;
    text-transform:none !important;
}

.notification_area a{
	color: #ce3130;
    text-decoration:none;
}

.notification_area a:hover{color:#666;}
 
span.stat_value{display:block; color:#666; text-align: center; font-size:14px; margin:5px 0 0 0;}
span.stat_small_value{display:block; color:#666; text-align: center; font-size:12px; margin:5px 0 0 0;}

.client_meta{display:block; color:#666; text-align: left; font-style:italic; font-size:0.9em; }
 

/* New User */

.newuser {
    padding: 20px;
    position: relative;
    text-align: center;
    /* background: url("../img/textures/5.png"); */
    /* background: #2B2F35; f0f6f9*/
    background: #ffffff;
    border: 1px solid #00bd62; /*  acd0e5 */
    border-radius:3px;
    margin-bottom:30px;
}
.newuser .newuser-close {
    color: #526672; /* #ccc */
    cursor: pointer;
    font-size: 0.8em;  
    z-index: 1;
}

.newuser-close:hover{color:#526672;} /*  ddd */
.newuser h1, .newuser p { margin:10px 0 0 0;
   /*  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
}

.newuser h1{font-size:2em !important; line-height:1.4em; !important; font-weight:600; margin:0 !important;}
.newuser h1 {
    color: #526672; */ #fff */
    margin: 0 0 10px;
}
.newuser p {
    color: #526672;
    font-size: 1em;
    line-height:1.3em;
    margin: 0 0 20px 0;
    font-family: 'PT Sans', sans-serif !important; 
}
.newuser ul {
    margin: 0;
    list-style:none;
}
.newuser a.support {    
    color:#526672;
    text-decoration:none;
}
.newuser a.support:hover {
    text-decoration:underline;
}

.newuser ul {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 30px;
}
.newuser ul.list-inline {
    padding-left: 0;
}
.newuser ul.list-inline li {
    display: inline;
    margin: 0 10px;
}
.newuser ul.list-inline li:last-child {
    margin: 0 10px;
}


.bigButton{ color: #fff;
    display: block;   
    text-decoration: none;
    max-width: 190px !important;
    height:42px !important; font-size:1.3em; line-height:1.1em; margin:0 auto 20px auto; text-align:center;
    outline:0 !important;
}

.first_welcome{overflow:hidden; width: auto; padding:10px 10px; display:table; text-align:center; margin:0 auto;}
.first_float{ display:inline-block; margin-right:10px;}

.bigButton span{display:block; font-size:0.7em !important; letter-spacing:0;}


.workflow_message1{display:block; line-height:1em; }

#welcome_video_popup{width:550px;}


/*  TABLE PROFIT AND LOSS  */

.date_cover{overflow: hidden; width:99%;}
.start_side{float:left; margin-right:30px; width:270px;}
.end_side{float:left; width:270px;}

.period{padding:10px;}
.period h4{font-weight:600;}

table.pl_table{
	 margin-bottom: 6px; 
    font-family: 'PT Sans', sans-serif;
    color: #555;   
    font-size: 1em;
    line-height: 1;
    margin-bottom: 12px;     
    font-weight: 400;     
    min-height: 30px;
    width:100%;   
    vertical-align: middle;   
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	outline:none;	
}

table.pl_table h3{font-weight:600;}

table.pl_table tr{
	
}

.thick_line{ border-top: 3px solid #111;}

table.pl_table td{
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top !important; font-size:0.9em;
    border-top: 1px dashed #555;
    text-align:left;     
}


tr.thick_line2{
	border-top: 4px solid #333;
	padding-top:15px !important;
}

table.pl_table td.expense_breakdown{padding-left:20px; border-bottom:1px dashed #555 !important; text-align:left;}



/* TABLE */
table.table{ 
    margin-bottom: 6px; 
    font-family: 'PT Sans', sans-serif;
    color: #555;   
    font-size: 1em;
    line-height: 1;
    margin-bottom: 12px;     
    font-weight: 400;     
    min-height: 30px;
    width:100%;   
    vertical-align: middle;   
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	outline:none;	
	border:1px solid #e1e1e1; 
}

.table i.fa{font-size:1.4em !important;}

table{border-collapse: collapse;
    border-spacing: 0;}
    
.table th {
    border-top: 1px solid #E8EDF1;
    font-size:0.8em;
    font-weight:400px;
    padding: 10px 12px;
    text-transform:capitalize;
       
}

.table td{border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top !important; font-size:0.9em;
}

.centerTd{text-align:center !important;}
.invoice_subject{font-size:0.9em; font-style:italic; color:#64646;}

.status_info{font-size:0.9em; font-style:normal; }
.status_info:hover{text-decoration:underline;}
    
a.btn-edit{
	text-decoration:none;
	-moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width:55px;    
    background-color: #F0F0F1;
    border-color: #F0F0F1;
    color: #303641;
}

a.btn-edit:hover{
	color:#fff !important;
	background:#0061CB !important; /* 222 */
	border:1px solid #0061CB !important;	/* 333 */
}


a.btn-danger{
	background-color: #CC2424;
    border-color: #CC2424;
    color: #FFFFFF !important;

}

 
a#cancelInvoice, .cancelBtn, button.cancelBtn, a.makeDisabled{background:#ddd !important; color:#888 !important; outline:0;}
a#cancelInvoice:hover, .cancelBtn:hover, button.cancelBtn:hover, a.makeDisabled:hover{background:#eee !important;}

.item_name_width{width:30%;}
.table a{text-decoration:none; color:#666;}
.table a:hover{color:#333;}



.payment_refs{font-size:11px; font-style:italic; color:#222; display:block; font-weight:bold; }


/* DASHBOARD */
#firsttimer{width:100%; max-width:100%; overflow:hidden; margin-bottom:40px;}
.new1{max-width:47%; min-width: 300px; float:left; margin:0 30px 30px 0;}
.new2{max-width:47%; min-width: 300px; float:left;}
#firsttimer ul{margin:0; padding:0;}
#firsttimer ul li {list-style:disc; line-height:22px;}
#firsttimer ul li a {color: #CC2424; font-size:14px; line-height: 22px;
    margin: 10px 0; padding:0; text-decoration:none; }
#firsttimer ul li a:hover{color:#333; text-decoration:underline; }

span.inner_small{font-size:14px; line-height: 22px;
    margin: 10px 0; padding:0; text-decoration:none; color:#555555;}
 

#pagebody, footer, .page-panel{
	 animation: fadein 1.4s;
    -moz-animation: fadein 1.4s; /* Firefox */
    -webkit-animation: fadein 1.4s; /* Safari and Chrome */
    -o-animation: fadein 1.4s; /* Opera */
    z-index:999 !important;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​

/* SIGNUP */
#signupform{width:660px; margin:0 auto; background: #e5e5e5; padding:20px;} 
#signupform label{display:block; margin:7px 0 0 0;}
span.small{font-size:12px; font-weight:bold; display:block; color:#999;}
#signupform input[type=text], #signupform input[type=password]{background: #f7f7f7; border: none; color: #4d5155; font-size: 18px; letter-spacing: -1px; 
line-height: 30px; padding: 5px 9px; width:300px; margin:0 0 3px 0; font-weight:normal;
 box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset; color:#4c8713;}

#signupform input[type=text]:focus, #signupform input[type=password]:focus{ -moz-transition: opacity 1s ease 0s;
    background-color: white;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #394249;
    opacity: 0.7;}
    
#signupform p, #signupform label{font-size:13px; line-height:18px;}
#signup_info{}
#signup_info h3{margin:10px 0; font-size:22px;}
#signup_info ul{margin:0; padding:0 0 0 15px;}
#signup_info ul li{font-size:12px; line-height:16px; margin:0 0 10px 0;}

#iSM{}
#iSM p{font-size:17px !important; margin:7px 0 0 0 !important; text-align:left !important;}

.sgnform{width:720px; overflow: hidden;}
.form_row{width:320px; margin: 0 20px 6px 0; float:left;}
.password_ins{margin:20px 0 0 0; clear:both; float:left;}
.msg_error{width: 95% !important;}


.payment-errors{display:none; padding:6px; background:#870000; color:#fff; font-size:19px; margin-bottom:10px;}


/* Notification */
.flash{

     padding: 5px 6px 5px 30px;
     font-size:0.9em;
     font-weight:bold;
     line-height:1.4em;
     font-family: Helvetica, Arial, sans-serif;   
     -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 margin-top:3px;
 
}
.info{
 
     color: #111;
}

.error{ 
	    border-color: #f9d8e8;
	    color: #db205d;
     background: #fbe5ec url("../../assets/img/error_mark.png") no-repeat; background-position:7px 3px;
     margin-top:20px;
}

.warning{
 
      color: #eaaf51;
}

.success{
	    border-color: #bff6e1;
	    color: #18a98a;
     background: #dffaf4 url("../../assets/img/success_mark.png") no-repeat; background-position:7px 7px;
     margin-bottom:5px;
}

.message h3{
     margin: 0 0 5px 0;
}

.message p{
     margin: 0;
}

@-webkit-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}



/* Example Styles for Demo */
.etabs { margin: 0 0 0 15px; padding: 0; border-bottom:1px solid #2C3138; width:96%; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border-bottom: none; }
.tab a { font-size: 0.9em; line-height: 1.5em; display: inline-block; padding: 7px 10px 0 10px; outline: none; color:#2C3138; background:#eee; text-decoration:none; 
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px; margin-bottom:10px;
 
}

.etabs li.active{padding:0 !important; margin-bottom:10px !important;}
.tab a:hover { color:#222; 
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.tab.active { background:#ddd; padding-top: 2px; position: relative; top: 1px; 
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
 }
.tab a.active { font-weight: bold; 
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.tab-container .panel-container { background: #fff; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; overflow: hidden;}
 
.btn-submit{clear:both; margin:0 0 0 15px;}


/* SITE SEARCH */
.simple_search{ width:130px; float:right; }
.simple_search .search_term{border:1px solid #e7e7e7; padding:1px 6px 2px 6px; font-size:12px; line-height:16px; height:16px; color:#838383;
    -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px; text-align:left; width:80px;
}
.simple_search .search_submit {background: #ce3130; color:#fff; height:20px; width:28px; border:none; margin:0; text-align:center; }
.simple_search p.tinytext{font-size:11px; display:block; text-align:right; padding:0 5px 0 0; margin:0; color:#9d9d9d;}
 
table thead {background:#0061CB; color:#fff;} /* 22262e */
tr.light_g1{background:#f9f9f9;}
tr.light_g2{background: #FFFFFF; }

/* history_tabular_data */
.history_tabular_data{padding:7px; width:100%;}
.history_tabular_data thead{}
.history_tabular_data th{background: 0 0 #f3f0e7;
    border: 1px solid #E5E5E5;
    color: #6C6C6C;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0 8px 10px;
    text-align: left;}
.history_tabular_data tbody{}
.history_tabular_data tr{text-align:left; border-bottom:1px solid #8a8a8a;}
.history_tabular_data td{border: 1px solid #E5E5E5;
    color: #5E5E5E;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 10px 10px;
    text-align: left;}
.history_tabular_data td a{text-decoration:none;}
.history_tabular_data td a:hover{}
.history_tabular_data tr:hover{
    background: 0 0 #f1f1f1;
}
 

a.csv_link{text-shadow: 1px 1px 2px #e5f5da; font-size: 17px;  font-weight: bold; text-decoration: none; color:#2b5505; padding:0 0 0 20px;}
 

/*.pagination{margin:15px 0; }
.pagination ul{list-style:none; margin:0; padding:0; overflow: hidden;}
.pagination ul li{float:left; margin:0 15px 0 0;}
.pagination a, #pagination strong{background:#e3e3e3; padding:4px 7px; text-decoration:none; border:1px solid #cac9c9; color:#292929; font-size:13px;}
.pagination strong, #pagination  a:hover{font-weight:normal; background:#cac9c9;}*/



/* Pagination */
.pagination {
	margin: 10px auto;
	padding: 0;
	list-style: none;
	width: 100%;
	margin-bottom:10px;
	overflow: hidden;
}

.pagination li {
	float: left;
	margin-right: 10px;
}

.pagination li a {
	display: block;
	text-decoration: none;
	color: #717171;
	font: bold 11px Arial, sans-serif;
	text-shadow: 0px 1px white;
	padding: 5px 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	background: #f9f9f9;

	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

.pagination li.active span {
 
	text-shadow: 0px 1px #3f789f;
	display: block;
	text-decoration: none;
	color: #fff;
	font: bold 11px Arial, sans-serif;
	text-shadow: 0px 1px white;
	padding: 5px 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	background: #6C6C6C !important;

	background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
}

.pagination li a:hover {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	background: #fff;

	background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

.pagination li a:active,.pagination li.active span {
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
}

.pagination li.active span:hover {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	background: #99cefc;

	background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
}



/* Pricing */
.pricing_wrap{width: 100%;}
.pricing{
    max-width:870px; margin:0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding:10px 30px 50px 30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align:center;
}

.pricing a{
    font-size: 18px;
    font-family: 'PT Sans',sans-serif;
    color: white;
    text-decoration: none;

}

.pricing input:focus, .pricing textarea:focus, .pricingselect:focus{
    border:1px solid #fafafa;
    -webkit-box-shadow:0 0 6px #007eff;
    -moz-box-shadow:0 0 5px #007eff;
    box-shadow:0 0 5px #007eff;
    outline: none;
}

.pricing sup{
    font-size: 30px;
}

.pricing ul{
    list-style: none;
    font-size: 15px;
    font-family: 'PT Sans',sans-serif;
    color: #9095aa;
    padding: 0px;
    margin: 0px;


}


.pricing li{
    border-bottom: 1px solid #494a5a;
    padding: 0px;
    margin: 0px;
    text-align: center;
    height: 40px;
    line-height: 52px;
}


.pricing .whole{
    display: inline-block;
}

.pricing .type{
    width: 280px;
    border-radius: 5px 5px 0px 0px;
    background-color: #eac80d;
    height: 62px;
    border-bottom: 3px solid #bfa30c;

}

.pricing .type p{
    font-family: 'PT Sans',sans-serif;
    font-weight: 800;
    font-size: 29px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 10px;

}

.pricing .plan{
    width: 280px;
    background-color: #2b2937;
    border-radius: 0px 0px 5px 5px;
    font-family:'Lato', sans-serif;
    font-style:condensed;
    font-size: 90px;
    color: white;
    text-align: center;

}
.pricing .premium{
    background-color: #1abc9c;
    border-bottom: 3px solid #18937b;
    position: relative;
    padding-bottom:10px;
}


.pricing .starter{
    background-color: #5d6a9a;
    border-bottom: 3px solid #474f6f;
}





.pricing .pricing_header{
    border-bottom: 1px solid #494a5a;
    padding-bottom: 39px;
    font-size:50px;

}

.pricing .pricing_header span{
    font-size: 26px;
}

.pricing .month{
    font-size: 17px;
    color: #eee;
    padding: 0px;
    margin: -10px;
}

p.was_price {padding: 0px;
    margin: 10px 0 0 0;}
.month small.oldprice{font-size: 18px; margin:0 !important; padding:0 !important;
    color: #1ABC9C;
    cursor: text;
    text-decoration: line-through; font-weight:bold;
}

.month small.saving{font-size: 15px !important;
    color: #1ABC9C;
    margin:0 !important; padding:0 !important;
    cursor: text;
    text-decoration: none !important; font-weight:bold;
}

.pricing .price{
    height:60px;
}

.pricing .cart{
    color:white;
    position: relative;

}

.pricing input.submit {
    background: url("../img/big_orange_btnbg_hover.jpg") repeat-x;
    border: 1px solid #a31f24;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font: 20px/22px 'PT Sans',sans-serif;
    height: 40px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 150px;
}
.pricing a.submit {
    background: url("../img/big_orange_btnbg_hover.jpg") repeat-x;
    border: 1px solid #a31f24;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font: 20px/50px 'PT Sans',sans-serif;
    height: 50px;
    padding: 10 20px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.pricing a.submit:hover{ background: url("../img/big_orange_btnbg2.jpg") repeat-x; border: 1px solid #DD5C00;}


.popular_badge{
    background: url("../img/popular_badge.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 58px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 58px;
}


/* DASHBOARD */

#quick_tasks{
	max-width:940; overflow:hidden;	 
    margin-bottom: 10px;
    padding: 1px 0;  
    margin:0 auto;
    display:table;
   
}
   
#quick_tasks .task_item{float:left; padding:2px; margin:1px 2px 0 1px; width:94px;  text-align:center;}

a.quick_task_button {
    background-color: #fff;
    border: 1px solid transparent; 
    border-radius: 5px 5px 5px 5px;    
    /* color: #666; */
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 1px;
    padding: 10px 5px;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
    width: 80px;
    text-decoration:none;
}
a.quick_task_button:hover{ border: 1px solid #cacaca;}
a.quick_task_button img{margin:10px 0 10px 0; width:70px; height:70px; }
.task_item strong{display:block; line-height:15px; font-weight:normal; color:#333; padding-top:6px !important;}
 

.add_instruction{padding: 1px;}
.add_instruction p{color:#2a3f0a; line-height:16px; font-size:12px; margin:12px 0 0 0;}




a.invoice_report{background:url("../img/inv2.png") no-repeat; padding:5px 5px 5px 60px; text-decoration:none; font-size:21px; font-weight:normal; line-height:29px; color:#666;}
a.invoice_report:hover{color:#333;}


/* SWITCH THEME */
.theme_switcher{overflow:hidden; width:100%;}
.theme{float:left; padding:3px; margin:10px 2px; background:#e2e2e2; width:220px; height:125px;}
.theme h3{padding:3px 0 10px 10px; color:#565c61; line-height:24px;}

/* FILTER */
#filter{overflow:hidden; width:100%; margin:0 0 30px 0; padding:5px 0 8px 7px; background:#e4e7ea;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#filter .section{float:left; width:196px; margin:0 0 0 6px}
#filter .section label, #filter .section-button label {display:block; margin:5px 0 3px 0; font-size:12px; font-weight:bold}
#filter .section .txt{width:179px;}
#filter .section .sel{width:193px;}
#filter .section-button{width:100px; float:left; margin:0 0 0 6px}

/* REPORT TABLE */
#report_display{border-top:1px dotted #e5e5e5; padding:15px 0 0 0;}
tr.mini_totals{border-top:1px solid #e5e5e5;}
#report_display table.report_table {
    color: #000000;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    line-height: 18px;
}
#report_display table.report_table th {
    background-color: #d2d4d6;
    color: #333;
    line-height: 15px;
    padding: 5px;
    text-align:left;
}

#report_display table.report_table tr td {
   background:#fff;
   border-bottom:#e9ebed;
   text-align:left;
   padding: 5px;
}

#report_display .outstanding{color:#ff2626;}
table.report_table tr.mini_totals td{background:#f8f8f8; color:#111;}
.greenfigure{color:#006600; font-weight:bold;}
.to_right{text-align:right;}
h2.report_headeing{ }
h2.report_headeing span{color:#666; font-weight:normal;}

.summary_table{width:100%; position:relative; height:260px;}
.summary{position:absolute; right:5px; background:#f4f4f4; top:20px;
 padding:10px; width:280px; border:1px solid #ededed;}
.summary p{border-bottom:1px solid #e2dcdc; font-size:11px; padding:0 4px 5px 4px;}
.summary p span.balance_label{font-weight:bold; padding:3px; color:#333;}
.summary p span.paid_label{font-weight:bold; padding:3px; color:#333;}
.summary p span.tax_label{font-weight:bold; padding:3px; color:#333;}
.summary p span.subtotal_label{font-weight:bold; padding:3px; color:#333;}
.summary p span.discount_label{font-weight:bold; padding:3px; color:#333;}
.summary p span.outstanding_label{font-weight:bold; padding:3px; color:#333;}

.summary p span.net_paid{float:right; color:#006600; padding:0 10px 0 0; font-weight:bold;}
.summary p span.net_balance{float:right; color:#635f5f; padding:0 10px 0 0;}
.summary p span.net_tax{float:right; color:#635f5f; padding:0 10px 0 0;}
.summary p span.net_subtotal{float:right; color:#635f5f; padding:0 10px 0 0;}
.summary p span.net_discount{float:right; color:#635f5f; padding:0 10px 0 0;}
.summary p span.net_outstanding{float:right; color:#ff2626; padding:0 10px 0 0;}

.summary h4{   padding:6px; background:#2f2f2f; color:#fff; margin:0;}
.summary h4 span{float:right;}

/* INVOICE TEMPLATES */
.for_invoice_template{overflow:hidden; width:100%;}
.for_invoice_template .invoice_box{width:210px; float:left; padding:5px 3px 20px 3px; border:5px solid #fff; background:#fff; margin:2px; height:360px; position:relative;}
.invoice_box .mark_current{position:absolute; bottom:53px; right:45px; z-index:1000;}
.invoice_box .pdf_sample{position:absolute; bottom:6px; right:3px; z-index:1000; width:50px; height:50px;}
.for_invoice_template .invoice_box:hover{border:5px solid #f7f7f7; background:#fff;}
.for_invoice_template .invoice_image{width:210px; height:271px; margin:0 0 5px 0;}
.for_invoice_template .inv_desc{}
.inv_desc p{height:76px;}
.for_invoice_template h3{font-weight:normal; font-size:19px; color:#333; line-height:24px;}
.for_invoice_template p{}


/* RECURRING FORM */

#recurring_form {overflow:hidden; width:100%;}
#recurring_form .longbox{float:left; width:300px;  padding:20px; height:240px; margin:10px 10px; }
#recurring_form .shortbox{float:left; width:300px;  padding:20px; height:260px; margin:10px 10px; }


/* ADD EXPENSE */

#add_expense_form{overflow:hidden; width:100%; }
#add_expense_form .longbox{float:left; max-width:300px; min-height:300px; margin:10px 10px; }
#add_expense_form .shortbox{float:left; max-width:300px; min-height:260px; margin:10px 10px; }

.expense_small{color:#333; font-size:0.9em; display: block; line-height:18px;}
.expense_ref{color:#444; font-size: 0.9em; display: block; line-height:18px; font-weight:bold;}
#expense_total{ padding:0 0 0 60px; }
#expense_total h4{font-size:1.3em; line-height:1.5em; color:#222;  margin:0; padding:0; font-weight:600; }

/* Payment gateway */
#payment_gateway{width:500px;}
#payment_gateway label{display:block; margin:7px 0 3px 0; font-weight:bold;}
#payment_gateway label span{font-weight:normal; font-style:italic;}


/* RECORD PAYMENT FORM */

#record_payment_form{overflow:hidden; width:100%; }
#record_payment_form .longbox-left{float:left; max-width:260px;  padding:20px; margin:10px 5px; background:#fff;}
#record_payment_form .longbox-right{float:left; max-width:540px;  padding:20px; height:450px; margin:10px 10px; background:#fff;}
#record_payment_form .shortbox{float:left; width:410px;  padding:20px; height:260px; margin:10px 10px; background:#fff;}
#record_payment_form .txt{width:260px; }
#record_payment_form .sel{width:280px;}


/* SEND INVOICE FORM */

#send_invoice_form{overflow:hidden; max-width: 900px; }
#send_invoice_form .longbox-left{float:left; max-width:850px;  padding:20px; height:580px; margin:10px 10px; background:#fff;}
#send_invoice_form .longbox-right{float:left; max-width:30px;  padding:20px; height:580px; margin:10px 10px; background:#fff;}
#send_invoice_form .shortbox{float:left; max-width:300px;  padding:20px; height:260px; margin:10px 10px; background:#fff;}
#send_invoice_form .txt{max-width:830px;}
#send_invoice_form .sel{max-width:400px;}
#send_invoice_form .txtarea{max-width:830px; min-height:300px; max-height:420px;}


/* preference_form */
#preference_form{overflow:hidden; width:100%; }
#preference_form .longbox{float:left; min-width:270px; max-width:370px;  min-height:370px; margin:10px 10px; }
#preference_form .shortbox{float:left; min-width:270px;  max-width:370px;  min-height:280px; margin:10px 10px; }
#preference_form .txt_file{width:270px; height:25px; padding:6px; border:none; margin:0 0 10px 0; color:#333; }

#preference_form .txtarea{font-size:1em; line-height: 1.3em;}

#preference_form h2, #preference_form h3, #preference_form h4, #preference_form h5 {color:#333 !important; font-family: "Helvetica Neue", Helvetica, Arial,Verdana,"Nimbus Sans L", sans-serif !important; }  

#preference_form label{ }
#preference_form h4{font-size:1.3em ;}

.pref_message{margin:0 0 25px 0; border-bottom:1px dashed #ddd; }

#note_payment, #invoice_reminder,  #invoice_reminder{display:block; width:97%; margin:0 auto 10px auto; overflow: hidden; border:1px dashed #ddd; padding: 13px;}

.prefm1{background:#efefef; padding:15px; margin-bottom:35px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.prefm2{background:#efefef; padding:15px; margin-bottom:35px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.legend_popup_open{color:#fefefe; text-decoration:none;}

.setting_full_width_textarea{height:130px !important; min-height:auto !important; width:99% !important; max-width:99% !important; margin-bottom:40px;}
 
.setting_full_width_text{ min-height:auto !important; width:99% !important; max-width:99% !important; margin-bottom:10px !important;}
.setting_full_width_textarea2{height:300px!important; min-height:auto !important; width:99% !important; max-width:99% !important; margin-bottom:40px !important;}

 
#invoice_reminder h3, #progress_receipt h3{ font-size:0.9em; line-height:1.2em; margin:15px 0; padding:5px 10px;
 background: #ed0c2c; color:#fefefe !important; font-family: Helvetica, sans-serif; 
 -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
 

#legend-variables{
 padding:10px; 
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
 
margin:20px 0 0 0;

}
#legend-variables table{border:none; width:100%; border-top: 1px solid #d2d2d2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#legend-variables table th{font-size:1.1em; text-align:left; padding:10px; color:#333;}
#legend-variables table tr{
	font-size:0.9em;
	margin:5px; padding:0; 
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: -moz-use-text-color #d2d2d2 #d2d2d2;
    border-image: none;
    border-top: 1px solid #d2d2d2;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#legend-variables table tr td{
    height: 20px; list-style:none; font-size:0.9em; 
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #fff;
    color: #333;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9); padding: 12px;
    text-align: left;
}
#legend-variables table tr td.legend{ font-weight:bold;}
#legend-variables table tr td.meaning{ }

p.quickmsg{background:#191919; padding:10px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:1px solid #4e4e4e;
margin:20px 0 0 0;
font-size:18px; line-height:28px; color:#c5c5c5;}

#preference_form label{font-weight:400; margin-top:7px;}

/* UPGRADE */

#upgrade_page{overflow:hidden; text-align:center;}


/* SUBSCRIPTION SHOW */
.package_plan{padding:9px 0; float:left; max-width:190px; margin:0 1px; 
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    transition: all 0.2s ease 0s;
}

.package_plan:hover{
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);   
    z-index: 99;
}

.package_plan h3{font-size:16px; line-height:30px; font-weight:normal; text-transform:uppercase;
	font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 10px;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    text-align:center;
    border-top:2px solid #444;
    margin:0;

}
.package_plan h3 span{color:#e8e8e8; font-size:1.3em; font-weight:bold; text-transform:lowercase; display:block; text-shadow:none;}
.package_plan ul{ margin:5px 2px; padding:0; 
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: -moz-use-text-color #d2d2d2 #d2d2d2;
    border-image: none;
    border-top: 1px solid #d2d2d2;
    border-style: none solid solid;
    border-width: 0 1px 1px;
  
}
.package_plan ul li{height: 20px; list-style:none; font-size:0.9em; 
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #fff;
    color: #666;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9); padding: 9px;
    text-align: center;
}

.package_plan ul li:nth-child(2n) {
    background: none repeat scroll 0 0 #ebebeb;
}

.creditcards{ text-align:center; clear:both;}

.package_plan label{display:block; font-weight:bold; text-transform:uppercase; font-size:14px;}
.yourplan{background-color: #f9f9f9; width:auto; padding:8px; text-align:center; height:120px;
    background-image: linear-gradient(to bottom, #fbfbfb, #ededed);
    border: 1px solid #d2d2d2;
    box-shadow: 0 1px #fff inset, 0 0 0 1px rgba(255, 255, 255, 0.5) inset; padding:0;
}
.coupon_box{padding:5px 8px; line-height:1em; font-size:0.8em;; color:#999; width:150px; display:block;  margin:3px auto 10px auto;
-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #e1e1e1;}

.push_coupon{font-size:0.9em; display:block; margin-top:10px; margin-bottom:0; padding:0 !important;}
/* SUBSCRIPTION : CART SHOW */
.cart_show{width:100%; overflow:hidden;}
.cart_show .small_section{padding:10px 5px;  float:left; width:218px; margin:5px 0px 5px 3px; height:350px;}
.cart_show h3 {font-size:16px; line-height:22px; font-weight:normal; text-transform:uppercase; padding:0 0 0 10px; margin:0 0 10px 0;}
.cart_show h3 span{color:#333; font-style:italic; font-size:15px;  text-transform:lowercase; }

.small_section ul{height:270px; margin:5px; padding:10px;}
.small_section ul li{height: 20px; list-style:none; padding:4px 2px 6px 22px; font-weight:bold; font-size:12px; font-weight:bold;  line-height:20px;
color:#333; background-image: url("img/tick-circle.png");background-repeat: no-repeat; background-position: 0 .5em;}

.push_free_downgrade{}
.free_plan_push{height:1px;}

/* Paying By card */
.paywithcard{
	border: 1px solid #dddddd;
    display: block;
    margin: 20px 0 10px 0;
    overflow: hidden;
    padding: 13px;
    background-color:#fff;
    border-radius: 6px 6px 0 0;
  
}

.paywithcard label{
	font-weight:bold;
}

.paywithcard label span{
	display:block;
	font-weight:normal;
	line-height:1.4em;
	font-size:1em;
}
.paymentform_wrap{
	background: none repeat scroll 0 0 #efefef;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
}

.integrityinvoice_right{ }
.credit_card{margin-bottom:10px;}

.t_and_c{height:270px; overflow:scroll;}

.cart_section{overflow:hidden; width:100%;}
.billing_cycle{ float:left; margin:0 3px 0 0;  
	padding:10px 10px 20px 10px; float:left; width:240px;
	border: 1px solid #dddddd;
    display: block;
    margin: 20px 20px 10px 0;
    overflow: hidden;
    padding: 13px;
    background-color:#FDFDFD;
    border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    
}
.billing_cycle fieldset{padding:12px; color:#333; margin:0 0 15px 0; font-size:1em;}
.billing_cycle legend{padding:4px; color:#555;}
.billing_cycle h3, .shopping_cart h3{
	font-weight:bold; font-size:1.3em; line-height:1.4em;
}

.plansel{padding: 5px 0 5px 0;}

.shopping_cart{padding:10px 10px 20px 10px; float:left; width:270px;
	border: 1px solid #dddddd;
    display: block;
    margin: 20px 0 10px 0;
    overflow: hidden;
    padding: 13px;
    background-color:#FDFDFD;
    border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
 }

.shopping_cart #summary{width:260px; background:#fff; padding:0 5px; font-weight:bold; color:#444; margin:0 0 15px 0;}
.shopping_cart #summary .cart_savings{width:90px; color:#333;}
.shopping_cart #summary .savings_amount{width:100px; color:#333;}
.shopping_cart #summary .cart_total{font-size:21px;color:#444; font-weight:normal;}
.shopping_cart #summary .cart_amount{margin:0; font-size:1.4em; color:#444; font-weight:normal; }
.shopping_cart .line_through{border-bottom:1px solid #ddd; padding:0 0 5px 0;}
.savings{font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; line-height:17px; color:#444; padding:0 0 0 4px;}
.sel_plan{font-size:14px; color:#333; padding:3px; font-weight:normal;}
 


/* INVOICE RECEIPT */
.receiptpage{
	text-align:center !important;
	font-family: 'PT Sans', sans-serif; color:#333; margin:4px 10px 0 0; padding:0; 
}

.receiptpage h1{font-size:1.8em !important; font-weight:400; font-family: 'PT Sans', sans-serif; color:#333; margin:4px 10px 0 0; padding:0; }

.receiptpage h2{font-weight:1.5em !important; font-weight: bold; color:#111; font-family: 'PT Sans', sans-serif; margin:4px 10px 0 0; padding:0; }

/* ADD ITEM */
#add_item_form{overflow:hidden; width:100%; }
#add_item_form .longbox{float:left; max-width:300px; min-height:180px; margin:10px 10px; background:#fff;}
#add_item_form .shortbox{float:left; max-width:300px; min-height:260px; margin:10px 10px; background:#fff;}

/* EDIT ITEM */

#edit_item_form{overflow:hidden; width:100%; }
#edit_item_form .longbox{float:left; max-width:300px;  height:200px; margin:10px 10px; background:#fff;}
#edit_item_form .shortbox{float:left; max-width:300px;  height:280px; margin:10px 10px; background:#fff;}



/* New client form */
.hide_field, .hide_hide_field{display:none;}
#new_client_form{overflow:hidden; width:100%; }
#new_client_form .longbox{float:left;  margin:10px 10px; background:#fff;}
#new_client_form .shortbox{float:left;  margin:10px 10px; background:#fff;}


.new_client_form{overflow:hidden; width:100%; }
.new_client_form .longbox{float:left;  margin:10px 10px; background:#fff;}
.new_client_form .shortbox{float:left;  margin:10px 10px; background:#fff;}

.primary_contact{border-top: 1px solid #eee;}
.padleft10{padding-left: 10px;}

.secondary_client{display:none; border-top: 2px solid #ddd;}
#notes{height:100px;}

/* Edit client form */
#edit_client_form{overflow:hidden; width:100%; }
#edit_client_form .longbox{float:left;  margin:10px 10px; background:#fff;}
#edit_client_form .shortbox{float:left; margin:10px 10px; background:#fff;}
#addnewmerchant{display:block;}


.edit_client_form {overflow:hidden; width:100%; }
.edit_client_form .longbox{float:left;  margin:10px 10px; background:#fff;}
.edit_client_form .shortbox{float:left; margin:10px 10px; background:#fff;}

.secondary_client_edit{border-top: 2px solid #ddd;}
.hide_secondary{display:none;}

/* IMPROVEMENT */
#improvements{width:98%;}
#improvement { width:99%; margin:0 3px 0 0;  
	padding:10px 10px 20px 10px; float:left; 
	border: 1px solid #dddddd;
    display: block;
    margin: 20px 20px 10px 0;  
    padding: 13px;
    background-color:#FDFDFD;
    border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
#improvement h4.release_date{ border:1px solid #e3e3e3; padding:7px; margin:0 0 10px 0; color:#222; background:#f4f4f4; text-shadow:none; font-weight:bold; }
#improvement p{padding:0 0 5px 0; margin:4px 0 0 0; padding:5px 3px 5px 20px; }
#improvement p span.update_title { display:block;  color:#333; font-weight:400; font-size:1.2em; line-height:1.5em;}
#improvement p span.update_details { display:block; color:#646464; padding:0 0 15px 25px !important; border-bottom: 1px dashed #e1e1e1;}

#improvement p:hover{background-color:#eee; }


/* HELP */
.for_help{width:960px; overflow:hidden;}
.for_help .div1{padding:10px;  float:left; width:260px;  height:auto; margin:5px 0px 5px 5px; background:#fff;}
.for_help .div2{padding:10px; float:left; width:612px;  height:auto;  margin:5px; background:#fff;}
.for_help .div2 label{display:block; margin:7px 0 3px 0; font-size:12px; font-weight:bold; width:390px;}
.for_help .div2 label span{font-weight:normal; font-style:italic;}
.for_help .div2 .txt{width:590px; height:25px; margin:0 0 10px 0;  }
.for_help .div2 .txtarea{width:590px; height:200px; margin:0 0 10px 0; color:#333; }
.for_help .div2 .sel{float:left; width:599px; border:none; height: 35px; padding:7px 6px; margin:0 0 10px 0; }
#my_account_form .button{}
.faqlist{overflow:hidden;}


.infoAboutStats{font-size:0.8em; margin:10px 0;}


/* New help Section */
.wrap_help{overflow:hidden; width:auto; font-family:Helvetica, Arial, sans-serif !important; }
.announcement_help{display:none;}
.anouncement_meta{}

.help_section{overflow:hidden; width:auto; border: 1px solid #f0f0f0; margin-bottom:20px;  padding:2%; background:#f9f9f9; 
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.help_box{float:left; width:48.5%; padding:10px 0; border-bottom: 1px solid #eee; }
.first-col{margin-right:3%;}
.second-col{}

.help_box h3{ border-bottom: medium none;
    color: #444;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 10px 0; 
    padding-bottom: 0;}
.help_box ul{list-style: none;
    margin: 0 0 5px;
    padding: 0;}
.help_box ul li{
	display: block;
    padding: 1px 0 0 12px;
    margin: 7px 0 0;
    color: #666666;
}
.help_box ul li a{color: #666; text-decoration:none; font-size: 0.9em; padding:0 0 0 10px;}
.help_box ul li a:hover{text-decoration:underline;}

.workflow_link{display:block; font-size:0.9em; padding:5px 0 0 30px;}


/* QUICK START */
#quick_start{max-width:560px !important; padding:0 20px 20px 20px; 
border:1px solid #ddd; margin:0 10px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background:#f6f6f6;
}
.guide_section{padding:25px 0; border-bottom:1px solid #ddd;}

.guide_section h2{margin:0 0 20px 0;}

#quick_start p{margin-bottom:20px;}


/* FAQ */
.gettingstarted{max-width:900px; overflow:hidden;}
.gettingstarted .div1{padding:10px;  float:left; width:130px;  height:auto; margin:5px 0px 5px 5px; background:#fff;}
.gettingstarted .div2{padding:10px; float:left; max-width:680px;  height:auto; margin:5px; background:#fff;}
.gettingstarted .div2 label{display:block; margin:7px 0 3px 0; font-size:12px; font-weight:bold; max-width:390px;}
.gettingstarted .div2 label span{font-weight:normal; font-style:italic;}
.gettingstarted .div2 .txt{max-width:590px; height:25px; margin:0 0 10px 0;  }
.gettingstarted .div2 .txtarea{max-width:590px; height:200px; margin:0 0 10px 0; color:#333; }
.gettingstarted .div2 .sel{float:left; max-width:599px; border:none; height: 35px; padding:7px 6px; margin:0 0 10px 0; }
 
.faqlist{overflow:hidden;}

.gettingstarted .div2 h2{
	 font-size: 24px;
    border-bottom: 1px solid #DDDDDD;
    margin:0 0 15px 0;
    padding-bottom: 13px;
}

.div2 .vid{margin:0 0 50px 0;}

.gettingstarted .div2 p{font-size:14px; color:#4B4B4B; line-height:23px;}

.helpnav{margin:0; padding:0;}
.helpnav li{padding:5px 1px; margin:0; list-style:none;}
.helpnav li a{color:#333; text-decoration:none; font-size:16px; line-height:25px; border-bottom:1px dotted #fff;}
.helpnav li a:hover{border-bottom:1px dotted #444;}
.helpnav li a.current{font-weight:bold;}


.howto {}
.howto p{font-weight:bold; font-size:14px; line-height: 18px;padding: 3px 0; margin:0;}
.howto a{text-decoration:none; color:#555;}
.howto a:hover{color:#222;}

p.question{font-weight:bold;}
p.answer{}
.current-help {color:#222; border-bottom:2px solid #666;}
.current-help p{}
.current-help a{text-decoration:none; color:#222;}
.current-help a:hover{color:#222;}

p.a_z_term{font-weight:bold; font-size: 0.9em;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;}
p.a_z_meaning{border-bottom:dashed 1px #ccc; padding-bottom:10px;}

.faq_fields{padding:10px; border:1px solid #ddd;}
.faq_fields legend{padding:3px 7px; color:#333; font-style:italic;}

#vid{display:none; width:800px; height:450px; margin:0 auto;}



/********* INVOICES ***************/

#invoicecontainer{padding:0;   color: #333; position:relative;
font-family: 'PT Sans', sans-serif !important; }
#invoicecontainer textarea.cw { border: 0; font-size: 14px; overflow: hidden; resize: none; text-align:left; color:#333;}
#invoicecontainer textarea.cwl{border: 0; font-size: 14px; width:100%; color:#333;}
#invoicecontainer table { border-collapse: collapse; }
#invoicecontainer table th { background: #f6f6f6;
    /*border: 1px solid #E5E5E5;*/
    color: #6C6C6C;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 8px 10px;
    text-align: center;}
#invoicecontainer table td { /* border: 1px solid #E5E5E5; */
    color: #5E5E5E;
    font-size: 0.9em;
    font-weight: normal;
    padding: 5px 0 5px 10px;
    text-align: center;
    border: none !important;
}

/*
.makeNoneDiscount{display:none;}
.makeNoneSubDiscount{display:none;}
.makeNoneTax{display:none;}
.makeNoneSubTax{display:none;}
*/

.action-buttons{}

.pdf_logo{position:absolute; right:36px; top:30px; text-align:right;}
.pdf_logo_with_margin{float:right; width:200px; height:130px; margin:20px 0 0 10px;}
.pdf_logo_up{position:absolute; right:5px; top:-56px; text-align:right;}

.pdf_logo_up_create{position:absolute; right:5px; top:-26px; text-align:right;}

.pdf_logo_with_margin img, .pdf_logo img, .pdf_logo_up img, .pdf_logo_up_create img {max-width:90px; height:auto;}

/* INVOICE COMPANY INFO */
.invoiceTop{width:100%; overflow: hidden;}
.invoiceTopLeft{float:left; width:250px; padding:6px; height:162px;}
.invoiceTopRight{float:right; width:250px;} 

.paidstamp_web{float:left; width:230px; padding:6px; height:100px;}
h4.partpaid_amount{font-weight:700 !important; color:#008000 !important; font-size: 18px; font-family: Helvetica, Arial, sans-serif; }
h5.stilltopay_amount{font-weight:300 !important; color:#e10606 !important; font-size: 13px; font-family: Helvetica, Arial, sans-serif; }

.company_info{ text-align:left; border-bottom:1px solid #cbd3c8; margin:0 0 20px 15px;}
.company_info p{font-family: "Helvetica Neue", Arial,Verdana,"Nimbus Sans L",sans-serif !important; color:#333; font-size: 0.9em; line-height: 1.4em;}
select.client_option {
	font-family: 'PT Sans', sans-serif !important; color: #333; 
	font-size: 15px;
    margin: 0 0 10px 0;
    padding: 6px; 
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    border-width:0 0 1px 0;
    vertical-align: middle;    
	outline:none;	 
	width:220px;
}
.invoice_customer{ text-align:left; margin:0;  color:#333; font-size: 0.9em; line-height: 1.4em;}
.invoice_customer h5{color: #333333; font-size: 14px; font-weight: normal; margin:0; padding:0;}
.customer-add{ font-size: 15px; color:#3C3C3C; line-height:1.3em; margin:10px 0 0 0;}

.newclientlink{color:#444; text-decoration:underline; margin:0 0 5px 0!important;}

.mycur{ }
.mycur label{font-size:14px;}
select.invoice_currency{
	font-family: 'PT Sans', sans-serif !important;color: #333; 
	font-size: 15px;
    margin: 0 0 10px 0;
    padding: 6px; 
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    border-width:0 0 1px 0;
    vertical-align: middle;    
	outline:none;	 
	width:220px;
}

#p-order{
	 color: #333; 
	font-size: 14px;
    margin: 0 0 10px 0;
    padding: 4px; 
    font-weight: 400;
    border: 1px solid #e5e5e5;
    vertical-align: middle;    
	outline:none;	 
	width:210px;
}
 
#invoicecontainer #header_w {margin: 20px 0; text-align: left; color: #333; font-size:15px; 
text-transform: uppercase; letter-spacing: 20px; padding: 8px 0px; font-weight:bold; border-bottom:1px solid #cbd3c8;}

#invoice_subj{overflow:hidden; padding:5px; margin:10px 0 0 0;}
#invoice_subj label{font-size:18px;font-weight:bold; display:inline; padding:6px 6px 6px 0; margin:0 0 5px 0;}
#invoice_subj label span{font-size:12px; font-style: italic; font-weight:normal; padding:6px 6px 6px 0;}
#invoice_subj input{width:98%; padding:6px; border:1px solid #e5e5e5; margin:1px 0 5px 0; color:#333; font-size: 13px; }


/* INVOICE TOP AREA */

.prorata_duedate{}
select.prorata_due_date{
	font-family: 'PT Sans', sans-serif !important; color: #333; 
	font-size: 15px;
    margin: 0 0 10px 0;
    padding: 6px; 
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    border-width:0 0 1px 0;
    vertical-align: middle;    
	outline:none;	 
	width:220px;
}


/* Invoice */
h5.invoice_note_title{text-align:left; font-size:15px; font-weight:bold; margin:5px 0 10px 0;}

#invoicecontainer #logow { text-align: right; float: right; position: relative; margin-top: 0px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; display:none;}
#invoicecontainer #logow:hover, #logo.edit { }
#invoicecontainer #logoctr { display: none; }
#invoicecontainer #logow:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#invoicecontainer #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#invoicecontainer #logohelp input { margin-bottom: 5px; }
#invoicecontainer .edit #logohelp { display: block; }
#invoicecontainer .edit #save-logo, .edit #cancel-logo { display: inline; }
#invoicecontainer .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }


.invoice_setings{position:absolute; right:10px; top:-20px; border-bottom:1px solid #d6d6d6; padding:0 0 10px 0; text-align:right; display:none; }
.invoice_setings p{margin:0; padding:0;}
.invoice_setings label{display:inline;}


#invoicecontainer #meta { width: 250px; margin-right:10px !important;}
#invoicecontainer #meta textarea, #invoicecontainer #meta input
{padding: 0; color:#5E5E5E; font-weight: normal; width:100px;}
#invoicecontainer #meta td { text-align: right; padding:8px 10px 10px 8px;}
#invoicecontainer #meta td.meta-head { text-align: left; background: #f7f7f7;}
#invoicecontainer #meta td textarea { height: 25px !important; text-align: right; }
#invoicecontainer #duedate {text-align:right; padding:2px; font-size:14px !important;}
#invoicecontainer #issuedate {text-align:right; padding:2px; font-size:14px !important;}

#invoicecontainer .smalltbox{width:40px; padding:2px; }
#invoicecontainer #addrow{text-align:left; margin:0; padding:5px 7px !important;}


#invoicecontainer #items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid #d8e2d4; }
#invoicecontainer #items th { 
    color: #3C3C3C;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 8px 10px;
    text-align: center;}
    
#items th.th_item{text-align:left !important; height:100%; vertical-align:baseline;}

#invoicecontainer #items textarea {
	height: 100%; color: #5E5E5E; background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 1em !important;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.1) inset;
    line-height: 1.4em;
    padding: 5px 2px 5px 5px;
  
 }
 
#invoicecontainer #items textarea:focus, #invoicecontainer input[type=text]:focus,  #invoicecontainer select:focus, #items td .disc:focus{
	background:#FFFBDF;
	background-color: #fffbdf;
    background-image: none;
    border: 1px solid #ffe33d;
 
}
#invoicecontainer #items tr.item-row {border-bottom:solid 1px #e6e6e6;}
#invoicecontainer #items tr.item-row td { border: none !important;}
#invoicecontainer #items td.description { min-width:70px; max-width: 300px;}
#invoicecontainer #items td.item-name { width: auto;}
#invoicecontainer #items td.description textarea { width: 98%;}
#invoicecontainer #items td.item-name textarea { width: auto; text-align:center;}
#invoicecontainer #items td .cost{ width: 98%; height:100%; text-align:center; vertical-align:baseline; }
#invoicecontainer #items td .qty{ width: 70%; height:100%;  text-align:center; vertical-align:baseline;  }
#invoicecontainer #items td {text-align:center;}
#invoicecontainer #items td span.price{ width: 98%; text-align:center;}
#invoicecontainer #items td.item-name textarea { width: 98%; text-align:center;}
#invoicecontainer #items td.total-line { border-right: 0; text-align: right; }
#invoicecontainer #items td.vat-line { border-right: 0; text-align: right; }
#invoicecontainer #items td.total-value { border-left: 0; padding: 10px; }
#invoicecontainer #items td.vat-value { border-left: 0; padding: 10px; }
#invoicecontainer #items td.total-value textarea { height: 20px; background: none; }
#invoicecontainer #items td.balance { background: #fff; color:#C00; font-weight:bold;}
#invoicecontainer #items td.blank { border: 0; }
.alignLeft{text-align:left !important; height:100%; vertical-align:baseline;}

table#items th{background: #0061CB; color:#fff !important;  } /* #3e4249 border-right:1px solid #444851;*/

#invoicecontainer #items td{vertical-align:middle;}

.invoice_number{padding:5px; background:#efefef !important; display:block; text-align:center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.invoice_number:hover{}

 
select.itemtax {  
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.1) inset;
    color: #5e5e5e;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 1em !important;
    min-height: 42px;
    line-height: 1.4em;
    padding: 5px 2px 5px 5px;    
    text-align: center;
    vertical-align: baseline;
    width: 70%;
    
 }
.disc_holder {overflow:hidden;}
.disc_holder select{
	background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 1em !important;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.1) inset;
    line-height: 1.2em;
    padding: 3px;
    width:50%; text-align:center;
 }

#items td .disc {  
 
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.1) inset;
    color: #5e5e5e;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 1em !important;
    min-height: 30px;
    line-height: 1.4em;
    padding: 5px 2px 5px 5px;
    
    text-align: center;
    vertical-align: baseline;
    width: 60%;
}

td.additional_note h5{padding-top:10px !important;}


#items td .itemdisc {  display:inline;}

#invoicecontainer #terms { text-align: center; margin: 40px 0 0 0; color:#666;}
#invoicecontainer #terms h5 {color:#666; text-transform: uppercase; font-size: 13px; letter-spacing: 3px; border-bottom: 1px solid #c9cac8; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#invoicecontainer #terms textarea { width: 100%; text-align: center; color:#666;}

#invoicecontainer textarea:hover, #invoicecontainer textarea:focus, #invoicecontainer #items td.total-value textarea:hover, 
#invoicecontainer #items td.total-value textarea:focus, #invoicecontainer .delete:hover { background-color:#f9f9f9; }
#invoicecontainer .inl{display:inline;}
#invoicecontainer .delete-wpr { position: relative; }
#invoicecontainer .delete { display: block; color: #333; text-decoration: none; position: absolute; left:0; top:-10px; font-size:18px; }
#invoicecontainer .delete:hover {color:#555;}
/* #invoicecontainer .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #c9cac8; 
font-weight: bold; padding: 0px 3px; border: 1px solid; top: 2px; left: 1px; font-family: Verdana; font-size: 12px; } */
#invoicecontainer .additembutton { display: block; color: #555; text-decoration: none; position: absolute; left: -17px; font-size: 12px; }

.item_selector_icon{ display: block; color: #333; text-decoration: none; position: absolute; left:28px; top:2px; font-size:18px; }
.item_selector_icon:hover, .delete:hover {color: #555 !important;}

.fornote{position:relative; height:70px; max-width:400px; }
.notetext{position:absolute; top:0; left:0; height:100%; }
.apply_figures{float:right;}

.ttoleft div{text-align; width:100px;}

.hide-line-tax{display:none;}
.hide-line-discount{display:none;}

/* ITEMS */
/*.itemwrap{width:200px; display:block; border:solid 5px #666;}*/
.item-container{position:absolute; display: none; top:2px;  left: 75px;}
.item-container-inner{position:relative;}
.item_selector{display:none; padding:1px; border:1px solid #333; position:absolute; top:-5px; left:-20px;}
.item_selector select{border:none; color:#333; padding:5px; max-width:200px; font-size:1em !important; line-height:1.5em !important; outline:0; }
.item_selector select:focus{ outline:0;}

/* Recurring options */
#invoicecontainer #recurring_options{height: 70px; padding:1px; margin:5px 0; background:#ebf4e1; border:1px solid #ddd;}
#invoicecontainer #recurring_options label{display:block; margin:7px 0 3px 0; font-size:12px; font-weight:bold;}
#invoicecontainer #recurring_options label span{font-weight:normal; font-style:italic;}
#invoicecontainer #recurring_options .sel{width:200px; border:1px solid #CCC; height: 30px; padding:2px 4px; margin:0 0 10px 0; color:#333;}
#invoicecontainer #recurring_options .chkbox{float:left; width:50px; border:1px solid #CCC; height: 20px; padding:2px 4px; margin:0 0 10px 0; color:#333;}
#invoicecontainer #recurring_options table td{border:none;}
#invoicecontainer #recurring_options table{border:none;}


/* Reminder options */
#invoicecontainer #reminder_options{padding:1px; margin:5px 0 2px 0; background:#fff; }
#invoicecontainer #reminder_options label{display:block; margin:7px 0 3px 0; font-size:12px; font-weight:bold;}
#invoicecontainer #reminder_options label span{font-weight:normal; font-style:italic;}
#invoicecontainer #reminder_options .sel{width:200px; border:1px solid #CCC; height: 30px; padding:2px 4px; margin:0 0 10px 0; color:#333;}
#invoicecontainer #reminder_options .chkbox{float:left; width:50px; border:1px solid #CCC; height: 20px; padding:2px 4px; margin:0 0 2px 0; color:#333;}
#invoicecontainer #reminder_options table td{border:none;}
#invoicecontainer #reminder_options table{border:none;}



/* Company profile */
#company_profile {overflow:hidden; width:100%; }
#company_profile .longbox{float:left; min-width:270px; max-width:370px; max-height:600px; margin:10px 10px; background:#fff;}
#company_profile h2 {font-size:14px;font-weight:bold;margin-bottom:8px;}
#company_profile p{font-size:11px;color:#666666;margin-bottom:20px;padding-bottom:10px;}
#company_profile label{display:block;font-weight:bold; font-size:13px;}
#company_profile .small{color:#666666;display:inline;font-size:11px;font-weight:normal;}

.company_bottom_section{background-color: #f7f3ed;
     border: 1px solid #f6dbb0 !important;     
     margin: 25px 0 18px 0;
	 padding: 10px 15px; 
     border: 1px solid;     
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;
     display:table;
     clear:left;
   /*  width:95%; */
}

#company_profile .sb{margin:10px 0 0 0;}
#company_profile .add_instruction2 p{margin:10px 0; font-size:14px; line-height:20px; display:block;}
#company_profile  .txt{}
#company_profile .txt:focus, #company_profile .txt:focus {}

/* Uplaod Logo */
#company_logo{}
#company_logo .longbox{width:100%; min-height:150px; margin:10px 0; background:#fff;}
#company_logo label{display:block;font-weight:bold;text-align:left;width:150px;float:left; font-size:13px;}
#company_logo .small{color:#666666;display:block;font-size:11px;font-weight:normal;text-align:left;width:160px;}


#bulk_action{margin:15px 0 0 0; height:45px;}

/** FIRST TIME **/

#tenant_verify{padding:5px 15px; background:#DFFAF4; margin:0 0 10px 0; max-width:98%; }
#tenant_verify p{color:#18a98a; }
#tenant_verify a{color:#18a98a; text-decoration:underline;}
#tenant_verify a:hover{text-decoration:none;}

.close_verification_message{}



.invoiceTopLeft h2{font-size:14px !important; line-height:21px;}

/** iPhone (portrait) **/
@media screen and (max-width: 560px) { 
.invoiceTopLeft{float:left; width:230px; border:1px solid #efefef; padding:6px; height:162px;}
.invoiceTopRight{float:left; width:220px; margin-top:40px;} 
.pdf_logo{float:right; width:200px; height:130px; margin:-10px 0 0 10px; position:relative; right:0; top:0;}

}

@media screen and (max-width: 830px) { 
  
.pdf_logo{float:right; width:200px; height:130px; margin:-10px 0 0 10px; position:relative; right:0; top:0;}

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}