 
@media screen and (max-width: 830px) {
.pdf_logo{float:right; width:200px; height:130px; margin:-10px 0 0 10px; position:relative; right:0; top:0;}

}

@media screen and (max-width: 770px) {

.pdf_logo_up{ display:none;}

}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 800px) {

    .page_menu_newinvoice_submenu {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
        display: none;
        left: 15px;
        min-width: 200px;
        position: absolute;
        top: 35px;
        z-index: 90000 !important;       
    }
	
	#welcome_video_popup{max-width:280px;}
	.btn, a.btn, .gen_btn, a.gen_btn{padding:5px 7px 6px 9px !important; font-size:0.9em !important;}

	/* Page body */
	#page-container{}
	#pagebody {
		color: #000;
		font-family: 'Open Sans', sans-serif;
		z-index:500;
	 	min-width:270px;
		max-width:1000px;
		width:96%; 
		margin:35px auto;
	}
	
	/* PANEL */
	.page-panel{
		/* background: #ffffff url('../../assets/img/bg_mail.png') repeat-x; background-position:top center; */
	    margin: 5px 2px 60px 1px;   
	    overflow: hidden;
	    padding: 6px 10px;
	    text-align: left;
		position:relative;
		/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33); */
		min-width:250px;
		max-width:940px;
		z-index:14999;
	}
 
	p{  font-size:0.9em; line-height: 22px; margin: 10px 0; padding:0;}
 
	.footer-right{display:none !important;}
	footer.fluid-section{display:none !important;}
	/* Menu */
	
	#appmenu{display:none !important;}

	/* QUICK task */
	.dash_icon{font-size:33px; font-weight:normal; }
	#quick_tasks .task_item{float:left; padding:2px; margin:1px 0 0 1px; width:68px;}

	a.quick_task_button {
	    background-color: #fff;
	    border: 1px solid transparent; 
	    border-radius: 3px 3px 3px 3px;
	    color: #666;
	    display: inline-block;
	    font-size: 10px;
	    font-weight: bold;
	    margin: 2px 1px;
	    padding: 2px;
	    text-align: center;
	    text-shadow: 1px 1px #FFFFFF;
	    width: 65px;
	    text-decoration:none;
	}
	a.quick_task_button:hover{background:#f9f9f9;  border: 1px solid #CCCECE; }
	a.quick_task_button img{margin:10px 0 10px 0; width:40px; height:40px;}
	.task_item strong{display:block; line-height:15px; font-weight:normal; color:#111;}

	
	
	/* Invoice */	 	 
	.invoiceTopLeft{float:left; width:250px; border:none !important; padding:6px; height:120px;}
	.invoiceTopRight{float:right; width:220px; margin-right:30px;} 
	.pdf_logo{float:right; width:200px; height:130px; margin:-10px 0 0 10px; position:relative; right:0; top:0;}	
	.invoice_note_title, .fornote{display:none !important;}	
	.pdf_logo_up{display:none;}
	
	/* QUICK ANALYTICS */
	.quick_analytics{
	 
		background:#fff; margin-top:20px; box-sizing: 
		border-box;
	    padding: 30px;  border: 2px dashed #D2D4E0;
	    border-radius: 3px; }
	    
	.quick_analytics:hover{background:#fff; border: 2px dashed #f6f6f6; }
 
	
	.quick_analytics h2{color:#333 !important; text-align:center; border-bottom:1px dashed #e1e1e1; padding-bottom:15px !important;}
	
	ul.overall_stats{ overflow:hidden; list-style:none; margin:0; padding:0;}
	
	ul.overall_stats li.summary_stats{ border-bottom:none !important; padding:20px 0 20px 0; }
	
	li.summary_counts{ padding:30px 0 20px 0; border:none !important; }
	ul.overall_stats li.summary_stats div{
		float: left;
	    padding: 10px 0 10px;
	    width: 96%;
	    list-style:none; 
	    border-bottom:2px dashed #e6e6e6; 
	}
	
	ul.overall_stats .summary_counts div{
		float: left;
	    padding: 0 0 10px;
	    width: 48%;
	    list-style:none;  
	}
	 
	
	.overall_stats h3{color: #555 !important;
	    font-size: 16px;
	    font-weight: 300;
	    letter-spacing: -1px;
	    line-height: 20px;
	    text-align: center;
	    text-transform: capitalize;
	    margin:0;
	}
	
	
	.overall_stats h4{color: #555 !important;
	    font-size: 0.9em;
	    font-weight: 400;
	    letter-spacing: -1px;
	    line-height: 23px;
	    text-align: center;
	    text-transform: capitalize;
	    margin:0;
	}
	
	.overall_stats li small {
	    color: #888;
	    display: block;
	    font-size: 12px;
	    font-weight: 600;
	    padding-top: 5px;
	    text-align: center;
	    text-transform: uppercase;
	}
	
	 
	span.stat_value{display:block; color:#666; text-align: center; font-size:12px; margin:5px 0 0 0;}
	span.stat_small_value{display:block; color:#666; text-align: center; font-size:11px; margin:5px 0 0 0;}


	.dislayNone, .displayNone{display:none !important;}
	.simple_search{display:none !important;}

    /*
	.txt, .txtarea{width:90% !important;}
	.sel {width:99% !important;} */
	
	h1 {
	    color: #333333; /* 111111 */
	    font-size: 19px !important;
	    font-weight: 300;
	    line-height: 26px;
	    margin: 7px 0 10px 7px;
	    padding: 0;
	}
	
	
.fluid-section {
    width: 100%;
    border-top:2px solid #1c1f23;
    background:#272a2f;
    z-index:50000;   
}

	/* INVOICES*/
	
	/* Creating */

	.invoice_setings {
	    border-bottom: 1px solid #D6D6D6;
	    padding: 15px 0 10px;
	    position: relative;	     
	    text-align: right;
	    width:160px !important;
	     
	}
	
	.invoice_setings p {
	    margin: 0;
	    padding: 0;
	}
	
	.invoice_setings input{display:inline;}
	.invoice_setings label {
	    display: inline;
	}
	
	.pdf_logo_with_margin{display:none !important;}
	
	
	/* Expenses */
	#expense_total h4 {
	    font-size: 16px;
	    line-height: 23px;
	}

    #toparea{
        display:none !important;
    }

    #pagebody {
        margin: 5px auto 35px auto;
    }
    /* Mobile Navigation */
    nav#mobile {
        background-color:#FFFFFF; /* 1B1D24 */
        box-shadow: 0 0 3px 2px rgba(0,0,0,0.08); /* 0.3 */
       /* display:block; */
    }

    /*
    Top black bar that holds the toggle button
    */

    nav#mobile #toggle-bar {
        line-height:40px;
        height:40px;
    }

    /*
    Toggle button #1 ("Menu")
    */

    #mobile{display:none;}

    .navAactive ul{display:block;}
    .navInAactive ul{display:none;}

    .mtoggle{
        cursor: pointer !important; padding:10px !important;
    }

    nav#mobile strong a {
        margin-left:15px;
        text-decoration: none;
        padding:10px;
    }

    /*
    Toggle button #2 ("Navicon")
    */

    nav#mobile .navicon {
        float: right;
        height: 6px;
        width: 34px;
        margin: 15px;
        border-top: 18px double #FFF;
        border-bottom: 6px solid #FFF;
        font-size:0;
    }

    /*
    The dropdown menu
    */

    nav#mobile ul{
      margin-left:0;
        padding-left: 0!important;
        background-color: #e9e8e5; /* Added by Russ */
    }

    nav#mobile ul li {
        clear:both;
        list-style:none;
        border-bottom: 1px solid #dbdbd9; /* Added by Russ */
    }

    nav#mobile ul li a {
        display:block;
        background-color: #E9E8E5 !important;  /* fff */
        text-transform: capitalize;
      /*  margin:1px 0; */
        padding:6px 0 6px 10px;
        text-decoration: none;
        color:#2C3137; /* 222 */
    }

    nav#mobile ul ul {
        font-size:small;
    }

    nav#mobile ul ul li {
        margin-left:5px;
        border-bottom:0px !important ; /* 1px solid #dbdbd9 Added by Russ */
    }

    nav#mobile ul ul a {
        background-color:#eee;
        padding-left:15px;
    }

    nav#mobile ul ul a:before {
        padding-right:0px;
    }

}

@media only screen 
and (min-width : 320px) 
and (max-width : 590px) {	
	.invoiceTopLeft{ float:none !important; width:99% !important; border:none !important; padding:2%; margin-bottom:25px; }
	.invoiceTopRight{float:none !important; width:99% !important; padding:2%;} 
	.pdf_logo{float:right; width:200px; height:130px; margin:-10px 0 0 10px; position:relative; right:0; top:0;}	
	.invoice_note_title, .fornote{display:none !important;}	
	.pdf_logo_up{display:none;}
	.pdf_logo_up_create{ }
	.hide_mobile{ }
	.invoiceTopLeft select{width:98% !important;}
	.invoiceTopLeft input{width:96% !important;}
	.icon_btn{display:none;}	
	 #invoice_subj input{width:96%;}

	 #meta { margin-right: 10px !important; width: 99% !important; }

	 #meta input{width:80% !important;}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */



}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* Styles */



}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
/* Styles */



}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
/* Styles */


}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */


}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */


}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */


}

.statsexpenses {
	background-color: #7266ba !important;
	
}

.statsexpenses:hover {
	background-color: #7266ba !important;
	
}

.statsinvoices {
	background-color: #23B7E5 !important;
}

.last {
	background-color: #FAD733 !important;
}

.statsrevenue {
	background-color: #27C24C !important;
	
}